<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.xx.mapper.ShopXxMapper">
	<!-- 商品新規登録 -->
	<insert id="newProductInfo">
		insert into
		shop_product(id,name,simple_desc,price,inventory,image,show_flg,del_flg,date_created,date_modified)
		values(#{id},#{name}, #{simpleDesc}, #{price}, #{inventory},
		#{image},#{showFlg}, #{delFlg}, #{dateCreated},#{dateModified});
	</insert>

	<!-- 商品情報一覧取得 -->
	<select id="getProductInfo"
		resultType="com.shop.xx.bean.ProductInfoBean">
		select * from shop_product order by id asc;
	</select>

	<!-- 商品情報一覧ID取得 -->
	<select id="findById"
		resultType="com.shop.xx.bean.ProductInfoBean">
		select * from shop_product where id =#{id} ;
	</select>

	<!-- 商品情報更新 -->
	<update id="proInfoUpdate">
		update shop_product SET id =#{id},name=#{name},
		simple_desc=#{simpleDesc},price = #{price},inventory= #{inventory},
		image=#{image},show_flg=#{showFlg},del_Flg= #{delFlg}, date_created =
		current_timestamp where id = #{id}
	</update>

	<!-- 条件指定検索 -->
	<select id="searchProductInfo"
		resultType="com.shop.xx.bean.ProductInfoBean">
		select * from shop_product where 1 = 1
		<if test="name != null and name != ''">
			and name like concat('%',#{name},'%')
		</if>
	</select>
</mapper>