<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>ShopXX</title>
</head>
<body>

	<span class="am-text-default"
		style="font-family: sans-serif; color: black; font-size: 20px;">商品添加</span>
	<br>


	<h1 id="myH1"></h1>
	<div class="am-panel-hd">
		<span class="am-text-default"
			style="font-family: sans-serif; color: black; font-size: 15px;">商品情報入力</span>
	</div>
	<br>
	
	<form th:action="@{/productInfoList}"
		style="width: 50%; margin: 0 auto; padding: 100px" method="post"
		enctype="multipart/form-String">
		<div class="am-form-group">
			<label>商品番号:</label> <input type="text" name="id" placeholder="商品番号"
				maxlength="30" data-validation-message="商品番号格式 最大 30 文字"
				class="am-form-field am-radius" required=""> <span
				class="am-form-group-label-tips-must"
				style="font-family: serif; color: red; font-size: 13px;">※必要</span>
		</div>
		<div class="am-form-group">

			<div class="am-input-group am-input-group-sm">
				商品:<input type="text" name="name" placeholder="商品名" minlength="2"
					maxlength="160" data-validation-message="商品名単位形式 2~160 キャラクター"
					class="am-form-field am-radius" required=""> <span
					class="am-form-group-label-tips-must"
					style="font-family: serif; color: red; font-size: 13px;">※必要</span>
			</div>
		</div>

		<div class="am-form-group am-form-success">
			<label>商品内容:</label> <input type="text" name="simple_desc"
				placeholder="商品詳細説明" maxlength="300"
				data-validation-message="商品説明のフォーマット 最大300文字"
				class="am-radius am-field-valid"> <span
				class="am-form-group-label-tips"
				style="font-family: serif; color: black; font-size: 13px;">选填</span>
		</div>

		<div class="am-form-group am-form-error">
			<label>価格:</label> <input type="text" name="price"
				placeholder="00000" class="am-radius am-field-error am-active"
				required=""> <span class="am-form-group-label-tips-must"
				style="font-family: serif; color: red; font-size: 13px;">※必要</span>
		</div>

		<div class="am-form-group am-form-error">
			<label>在庫:</label> <input type="text" name="inventory"
				placeholder="000000" minlength="1" maxlength="6"
				data-validation-message="在庫単位形式1~6 キャラクター"
				class="am-radius am-field-error am-active" required=""> <span
				class="am-form-group-label-tips-must"
				style="font-family: serif; color: red; font-size: 13px;">※必要</span>
		</div>

		<div class="am-form-group am-form-file">
			<label class="block">商品写真:<br> <span
				class="am-form-group-label-tips"
				style="font-family: sans-serif; color: black; font-size: 13px; opacity: 0.6">
					選択されていない場合は、アルバムの一番目の写真を選択します;800*800pxをお勧めします</span></label>
			<div class="content-img">
				<ul class="content-img-list">
				</ul>
				<div class="file">
					<input type="file" style="opacity: 3; color: blue" name="image"
						accept="image/*" id="upload">
				</div>
			</div>
		</div>
		<br>

		<button type="submit">登録</button>
	</form>
</body>
</html>